
.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --bg-color: #353430;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --hover-color: #ff007040;
  --secondary-color: #FFC2E6;
}

@media (prefers-color-scheme: light) {
  :root {
    background-image: url(../images/cover-image-light.png);
    --bg-color: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --hover-color: #ff007040;
    --secondary-color: #FFC2E6;
  }
}