/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --main-font: 'IBM Plex Mono', monospace;
  --background-image: url("../images/cover-image.png");
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --hover-color: #ff007040;
  --secondary-color: #DB00FF;
  --navigation-color: #353430;
  --title-color: #ffc2e6;
  --description-color: #ff8dcb;
  --black-color: #353430;
  --pink-color: #ff0070;
  --rec-decor-visibility: visible;
  --transparent-color: transparent;
  --decor-color: #ff0070;
}